
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

.display-flex{
  display: flex;
}
*{
  color: #3A3A3A;
}
i{
  color: #FFFFFF;
}
/* nav bar related styles */

header{
  max-width: 1440px;
  margin: 0 auto;
}
.navbar{
  align-items: center;
  justify-content: space-between;


}

.navbar h2{
  font-size: 24px;
  font-weight: 700;
}

.navbar ul{
  list-style: none;
}
.navbar ul a i{
  color: #0A0826;
}
.navbar a{
  text-decoration: none;
  font-weight: 600;
  padding-right: 24px;
}

.head-contain{
  margin-top: 50px;
  justify-content: space-between;
  align-items: center;
}

.head-contain .head-img{
  background-image: url(../images/Circle\ design.svg);
  background-repeat: no-repeat;
  height: 475px;
  width: 475px;
}
.head-text h2{
  font-size: 52px;
  line-height: 70px;
  font-weight: 700;
}
.head-text p{
  font-weight: 600;
}
.head-text .btn{
  padding: 10px 24px;
  background-color: #E02C6D;
  color: #ffffff;
  font-weight: 700;
  border-radius: 45px;
  border: none;
  margin-top: 16px;
}

.sponsor{
  padding: 36px 62px;
  border: 1px solid #C0CCDA;
  margin-top: 70px;
}
.sponsor-company{
  padding: 0 60px;
}

.sponsor-company img{
  padding-left: 60px;
}

main{
  max-width: 1440px;
  margin: 0 auto;
}
.card-h2{
  text-align: center;
  font-weight: 700;
  line-height: 70px;
}
.card{
  display: grid;
  grid-template-columns: repeat(3, 330px);
  justify-content: center;
  gap: 30px;
  margin-bottom: 70px;
}
.card-info{
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 14px;
}

.section-bottom{
  display: flex;
  max-width: 1110px;
  margin: 0 auto;
  gap: 96px;
  align-items: center;
  
}

.bottom-info h2{
  font-size: 38px;
  font-weight: bold;
  color: #0A0826;
}

.bottom-info p{
  font-weight: bold;
  line-height: 28px;
  color: #6C6C6C;
}

.bottom-info .btn{
  padding: 10px 24px;
  background-color: #E02C6D;
  color: #ffffff;
  font-weight: bold;
  border: none;
}
footer{
  margin: 0 auto;
  background-color: #0A0826;
  padding: 50px 0;
}
.foot-info{
  text-align: center;
}
.foot-info h3{
  font-size: 24px;
  color: #FFFFFF;
}
.foot-info p{
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  color: #D9DBE1;
}

.foot-info a{
  text-decoration: none;
  color: #FFFFFF;
}


/* responsive area */

@media screen and (max-width:576px) {
  .navbar, .head-contain{
    flex-direction: column;
  }
  .head-contain{
    text-align: center;
  }

  .card{
    grid-template-columns: repeat(1, 330px);
  }

  .section-bottom{
    flex-direction: column;
  }
}